/* ========== FONTS ========== */
@font-face {
  font-family: "DM-Regular";
  src: url("../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}

@font-face {
  font-family: "Jost-Regular";
  src: url("../fonts/Jost/Jost-Regular.ttf");
}

@font-face {
  font-family: "Jost-SemiBold";
  src: url("../fonts/Jost/Jost-SemiBold.ttf");
}

/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: Jost-Regular;
  font-weight: 400;
  font-size: 14px;
  color: inherit;
  line-height: 18px;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
}

/* ========== GENERAL STYLES FOR FILE INDEX.HTML ========== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  color: #ffffff;
  background-color: #292f36;
  font-family: DM-Regular;
  line-height: 125%;
  font-size: 18px;
  box-shadow: 0 10px 20px 0 #c0c0c059;
  border-radius: 18px;
  display: inline-block;
}

/* =============== HEADER =============== */
.header-nav {
  padding: 43px 0 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.header-nav-links {
  font-size: 20px;
  line-height: 125%;
}

/* =============== SECTION INTRO =============== */
.intro {
  background: url("../images/background-images/background.jpg") center no-repeat;
  background-size: cover;
  border-bottom-left-radius: 291px;
  height: 1042px;
  position: relative;
}

.intro .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.intro-inner {
  width: 567px;
}

.intro-title {
  color: #292f36;
  font-family: DM-Regular;
  font-size: 85px;
  line-height: 125%;
}

.intro-desc {
  color: #4d5053;
  font-size: 22px;
  line-height: 150%;
  margin: 9px 0 21px;
}

.intro-btn {
  padding: 26px 73px 26px 48px;
  position: relative;
}

.intro-btn::after {
  content: "";
  width: 16px;
  height: 15px;
  background: url("../images/arrows/arrow-right.svg") center no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 148px;
  top: 30px;
}

/* =============== SECTION PROCESS =============== */
.process {
  padding: 200px 0;
}

.process-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 0;
}

.process-cards {
  width: 358px;
  text-align: center;
}

.process-cards-title {
  font-family: DM-Regular;
  font-size: 25px;
  line-height: 125%;
  color: #292f36;
}

.process-cards-desc {
  font-size: 22px;
  line-height: 125%;
  color: #292f36;
  margin: 20px 0 52px;
}

.process-cards-links {
  font-family: Jost-SemiBold;
  font-size: 18px;
  line-height: 125%;
  position: relative;
}

.process-cards-links::after {
  content: "";
  width: 16px;
  height: 15px;
  background: url("../images/arrows/arrow-right.svg") center no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 102px;
  top: 5px;
}

.feature {
  margin-bottom: 200px;
}

.feature-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.feature-content {
}

.feature-title {
  font-family: DM-Serif;
  font-size: 50px;
  line-height: 125%;
  color: #292f36;
  padding-top: 43px;
  max-width: 420px;
}

.feature-desc {
  font-size: 22px;
  line-height: 150%;
  margin: 33px 0 45px;
  color: #4d5053;
  max-width: 472px;
  text-align: justify;
}

.feature-phone-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 14.5px;
  margin-bottom: 47px;
}

.feature-phone-number {
  font-family: Jost-SemiBold;
  font-size: 24px;
  line-height: 150%;
  color: #4d5053;
  display: block;
}

.feature-phone-number-label {
  font-size: 22px;
  line-height: 150%;
  color: #4d5053;
}

.feature-btn {
  padding: 26px 56px 26px 31px;
  position: relative;
}

.feature-btn::after {
  content: "";
  width: 16px;
  height: 15px;
  background: url("../images/arrows/arrow-right.svg") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 30px;
  left: 182px;
}

.feature-right-img {
  border-radius: 0 326.5px 0 123px;
}
