/* ========== FONTS ========== */
@font-face {
  font-family: "DM-Regular";
  src: url("../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}

@font-face {
  font-family: "Jost-Regular";
  src: url("../fonts/Jost/Jost-Regular.ttf");
}

@font-face {
  font-family: "Jost-SemiBold";
  src: url("../fonts/Jost/Jost-SemiBold.ttf");
}

/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: Jost-Regular;
  font-weight: 400;
  font-size: 14px;
  color: inherit;
  line-height: 18px;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
}

/* ========== GENERAL STYLES FOR FILE INDEX.HTML ========== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  color: #ffffff;
  background-color: #292f36;
  font-family: DM-Regular;
  line-height: 125%;
  font-size: 18px;
  box-shadow: 0 10px 20px 0 #c0c0c059;
  border-radius: 18px;
  display: inline-block;
}

/* =============== HEADER =============== */
.header-nav {
  padding: 43px 0 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.header-nav-links {
  font-size: 20px;
  line-height: 125%;
}

/* =============== SECTION INTRO =============== */
.intro {
  background: url("../images/background-images/background.jpg") center no-repeat;
  background-size: cover;
  border-bottom-left-radius: 291px;
  height: 1042px;
  position: relative;
}

.intro .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.intro-inner {
  width: 567px;
}

.intro-title {
  color: #292f36;
  font-family: DM-Regular;
  font-size: 85px;
  line-height: 125%;
}

.intro-desc {
  color: #4d5053;
  font-size: 22px;
  line-height: 150%;
  margin: 9px 0 21px;
}

.intro-btn {
  padding: 26px 73px 26px 48px;
  position: relative;
}

.intro-btn::after {
  content: "";
  width: 16px;
  height: 15px;
  background: url("../images/arrows/arrow-right.svg") center no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 148px;
  top: 30px;
}

/* =============== SECTION PROCESS =============== */
.process {
  padding: 200px 0;
}

.process-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 0;
}

.process-cards {
  width: 358px;
  text-align: center;
}

.process-cards-title {
  font-family: DM-Regular;
  font-size: 25px;
  line-height: 125%;
  color: #292f36;
}

.process-cards-desc {
  font-size: 22px;
  line-height: 125%;
  color: #292f36;
  margin: 20px 0 52px;
}

.process-cards-links {
  font-family: Jost-SemiBold;
  font-size: 18px;
  line-height: 125%;
  position: relative;
}

.process-cards-links::after {
  content: "";
  width: 16px;
  height: 15px;
  background: url("../images/arrows/arrow-right.svg") center no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 102px;
  top: 5px;
}

/* =============== SECTION FEATURE =============== */
.feature {
  margin-bottom: 200px;
}

.feature-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.feature-title {
  font-family: DM-Serif;
  font-size: 50px;
  line-height: 125%;
  color: #292f36;
  padding-top: 43px;
  max-width: 420px;
}

.feature-desc {
  font-size: 22px;
  line-height: 150%;
  margin: 33px 0 45px;
  color: #4d5053;
  max-width: 472px;
  text-align: justify;
}

.feature-phone-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 14.5px;
  margin-bottom: 47px;
}

.feature-phone-number {
  font-family: Jost-SemiBold;
  font-size: 24px;
  line-height: 150%;
  color: #4d5053;
  display: block;
}

.feature-phone-number-label {
  font-size: 22px;
  line-height: 150%;
  color: #4d5053;
}

.feature-btn {
  padding: 26px 56px 26px 31px;
  position: relative;
}

.feature-btn::after {
  content: "";
  width: 16px;
  height: 15px;
  background: url("../images/arrows/arrow-right.svg") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 30px;
  left: 182px;
}

.feature-right-img {
  border-radius: 0 326.5px 0 123px;
}

/* =============== SECTION TESTIMONIALS =============== */
.testimonials-wrapper {
  background-color: #f4f0ec;
  border-radius: 70px;
  padding: 88px 25px;
}

.testimonials-title {
  font-family: DM-Regular;
  font-size: 50px;
  line-height: 125%;
  color: #292f36;
  width: 547px;
  text-align: center;
  margin: 0 auto 38px;
}

.testimonials-cards-wrap {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonials-cards {
  padding: 53px 30px;
  background-color: #ffffff;
  border-radius: 20px;
  width: 358px;
}

.testimonials-clients {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 23px;
}

.testimonials-clients-name {
  font-family: DM-Regular;
  font-size: 25px;
  line-height: 150%;
  color: #292f36;
}

.testimonials-clients-location {
  font-size: 18px;
  line-height: 150%;
  color: #292f36;
}

.testimonials-cards-text {
  font-size: 22px;
  line-height: 150%;
}

/* =============== SECTION PARTNERS =============== */
.section-partners {
  padding: 150px 0;
}

.partners-wrapper {
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =============== SECTION PROJECTS =============== */
.projects-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 93px;
}

.projects-title {
  font-family: DM-Regular;
  font-size: 50px;
  line-height: 125%;
  color: #292f36;
}

.projects-desc {
  max-width: 737px;
  font-size: 22px;
  line-height: 150%;
  color: #4d5053;
  text-align: center;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 56px 0;
}

.projects-card {
  width: 548px;
}

.projects-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.projects-card-title {
  font-family: DM-Regular;
  font-size: 25px;
  line-height: 125%;
  color: #292f36;
}

.projects-card-category {
  font-size: 22px;
  line-height: 150%;
}

/* =============== SECTION STATISTICS =============== */
.section-statistics {
  margin: 150px 0 200px;
  background-color: #f4f0ec;
}

.statistics-wrapper {
  padding: 151px 116.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.statistics-number {
  font-family: DM-Regular;
  font-size: 85px;
  line-height: 125%;
  color: #cda274;
}

.statistics-label {
  font-size: 22px;
  line-height: 150%;
  color: #4d5053;
  padding: 0 10px;
}

.statistics-lines {
  max-height: 130px;
}

/* =============== SECTION ARTICLES =============== */
.articles-intro {
  max-width: 811px;
  margin: 0 auto 52px;
  text-align: center;
}

.articles-title {
  font-family: DM-Regular;
  font-size: 50px;
  line-height: 125%;
  margin-bottom: 12px;
  color: #292f36;
}

.articles-desc {
  font-size: 22px;
  line-height: 150%;
  color: #4d5053;
}

.articles-cards-wrap {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px 18px;
  flex-wrap: wrap;
}

.articles-cards {
  width: 376px;
  border: 1px solid #e7e7e7;
  border-radius: 62px;
  padding: 21px;
}

.articles-cards-img {
  max-width: 100%;
}

.articles-cards-title {
  font-family: DM-Regular;
  font-size: 25px;
  line-height: 125%;
  color: #292f36;
  max-width: 95%;
  margin: 21px 0 30px;
}

.articles-cards-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articles-cards-date {
  font-size: 16px;
  line-height: 150%;
  color: #4d5053;
}

/* =============== SECTION CTA =============== */
.section-cta {
  margin: 202px 135px;
}

.cta-wrapper {
  background-color: #292f36;
  padding: 80px 15px;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-title {
  font-family: DM-Regular;
  font-size: 50px;
  line-height: 125%;
  color: #ffffff;
  text-align: center;
}

.cta-desc {
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
  margin: 11px 32px;
  text-align: center;
}

.cta-btn {
  padding: 26px 37px;
  background-color: #cda274;
  color: #ffffff;
  box-shadow: 0 10px 20px 0 #1f2022;
  display: flex;
  align-items: center;
  gap: 0 11px;
}
